@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
/* background-image: url("bg.jpg");
  background-size: cover;
  background-position: center; */
}
.App::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  /* pointer-events: auto; */
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  top: 10px;
  
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}
.App-header h1 {
  display: inline-block;
  margin-right: auto;
  color: navy;
}
.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: -1;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
